<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml,
			/WEB-INF/securityContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>
			org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>org.gwtcom.server.GreetingServiceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/gwtcom/greetingService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>authenticationService</servlet-name>
		<servlet-class>
			org.gwtcom.server.AuthenticationServiceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>authenticationService</servlet-name>
		<url-pattern>/gwtcom/authenticationService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>documentService</servlet-name>
		<servlet-class>
			org.gwtcom.server.DocumentServiceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>documentService</servlet-name>
		<url-pattern>/gwtcom/documentService</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>GWTcom.html</welcome-file>
	</welcome-file-list>

</web-app>
