/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

.loginForm {
	background: white !important;
	background: -moz-linear-gradient(top, white, lightGray) !important;
	background: -webkit-gradient(linear, left top, left bottom, from(white),
		to(lightGray) ) !important;
	border: 2px solid lightGray !important;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	/**-moz-box-shadow: 0.5em 0.5em 0.5em #4d4d4d;
	-webkit-box-shadow: 0.5em 0.5em 0.5em #4d4d4d;
	box-shadow: 0.5em 0.5em 0.5em #4d4d4d;**/
}

.mosaic-InfoPanel {
}

.mosaic-InfoPanel-panel {
}

.mosaic-InfoPanel-caption {
	font-weight: bold;
	display: block;
}

.mosaic-InfoPanel-description {
	
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.gwt-TabLayoutPanel {
	margin: 10px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
	padding-left: 5px;
	padding-right: 5px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	background-color: #EDEDED;
	vertical-align: middle;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	background-color: #C6C6C6;
	vertical-align: middle;
	z-index: 1;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	border: 2px solid #C6C6C6;
}

.tabContentWrapper {
	margin: 35px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/* Splitters */
.gwt-SplitLayoutPanel-HDragger,.gwt-SplitLayoutPanel-VDragger {
	background-color: white;
}

.gwt-SplitLayoutPanel-HDragger {
	background: url("panel/img/noimage.png") center center no-repeat;
	cursor: col-resize;
}

.gwt-SplitLayoutPanel-VDragger {
	background: url("panel/img/noimage.png") center center no-repeat;
	cursor: row-resize;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}